name: Validate Renovate configuration

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: "24.13.1"
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: "10.29.3"
  # renovate: datasource=npm depName=renovate
  RENOVATE_VERSION: "43.19.0"

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      # Avoid installing packages that are newer than 1 week old to reduce supply chain attacks probability.
      - run: pnpm config set minimumReleaseAge 10080
      - run: pnpm --package renovate@${{ env.RENOVATE_VERSION }} dlx renovate-config-validator default.json5 renovate.json5
