name: Validate Renovate configuration

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: "24.11.1"
  # renovate: datasource=npm depName=renovate
  RENOVATE_VERSION: "42.26.11"

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: >
          npx -p renovate@${RENOVATE_VERSION} renovate-config-validator default.json5 renovate.json5
