name: Validate Renovate configuration

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: "22.13.1"
  # renovate: datasource=npm depName=renovate
  RENOVATE_VERSION: "39.140.0"

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: >
          npx -p renovate@${RENOVATE_VERSION} renovate-config-validator default.json5 renovate.json5
